In [17]:
#area of circle
r=3
pi=3.14
area=pi*(r*r)
print(area)

28.26

In [2]:
#gross salary calculation
bsal=80000
hra=(bsal*2/100)
da=(bsal*8/100)
gsal=bsal+hra+da
print(gsal)

88000.0

In [22]:
#person eligible for vote


age=int(input("Enter age"))
if(age>=18):
  print("person eligible for vote")
else:
   print("not eligible for vote")

person eligible for vote

In [23]:
side1=int(input("Enter 1st side"))
side2=int(input("Enter 2nd side"))
side3=int(input("Enter 3rd side"))
if(side1==side2==side3):
    print("Triangle possible")

Triangle possible

In [31]:
a=['a','e','i','o','u']
b=input("enter a character")
if b in a:
    print("vowel")
else:
    print("not a vowel")

not a vowel

In [3]:
x=9
y=1
if x>5:
    if y>2:
        print("Both x and y are greater than 5 and 2")
    else:
        print("x is greater than 5 but y is less than 2")
else:
    print("x is not greater than 5")

x is greater than 5 but y is less than 2

In [5]:
#Account creation nested if code
username = input("Enter The Username")
email = input("Enter The email")
pwd = input("Enter The Password")
pwd2 = input("Enter The Password again")
if len(username)>=4 and len(username)<=15:
    if '@'in email and len(email)>0:
        if pwd==pwd2:
            print("Account created successfullyüëç")
        else:
            print("Password doesn't match")
    else:
        print("Wrong Email ü§¶‚Äç‚ôÇÔ∏è")
else:
    print("Invalid username")

Password doesn't match

LOOPS

In [9]:
# for loop in list

a=[2,3,4,5,6]
for i in a:
    print(i, end=" ")    #end=" " used to print elements in one line

2 3 4 5 6

In [18]:
# for loop in range

for i in range(1,11):
  print("chirag")

chirag
chirag
chirag
chirag
chirag
chirag
chirag
chirag
chirag
chirag

In [7]:
#while loop

a=1
while a<=10:
    print("chirag")
    a+=1

chirag
chirag
chirag
chirag
chirag
chirag
chirag
chirag
chirag
chirag

In [8]:
#while loop

count=10
while count>0:
    print(count)
    count-=1

10
9
8
7
6
5
4
3
2
1

In [24]:
#even number with while loop

a=2
while a<=20:
    print(a)
    a+=2

2
4
6
8
10
12
14
16
18
20

In [25]:
#table of Nine

a=9
while a<=90:
    print(a)
    a+=9

9
18
27
36
45
54
63
72
81
90

In [26]:
#table of nine

a=1
while a<=10:
    print(a*9)
    a+=1

9
18
27
36
45
54
63
72
81
90

Break and Continue

In [38]:
a=[2,3,4,5,6,7,8,9,0]
for i in a:
    if i==7:
        continue
    print(i)

2
3
4
5
6
8
9
0

In [39]:
a=0
while a<=10:
    if a==7:
        break
    print(a)
    a+=1

0
1
2
3
4
5
6

In [53]:
a="chirag"
for i in a:
    if i=="r":
        break
    print(i)

c
h
i

In [58]:
a=['mango','apple','potato','litchi']
for i in a:
    if i=='potato':
        continue
    print(i)

mango
apple
litchi

In [55]:
sal = int(input("Enter your salary"))
seryrs =int(input("Enter your years of service"))
if seryrs>5:
      print("your salary after 5% bonus is",(.05*sal)+sal)
else:
      print("No bonus")

your salary after 5% bonus is 21000.0

In [23]:
len = (input("Enter length"))
brd = (input("Enter breadth"))
if len == brd:
  print ("Yes, it is square")
else:
  print ("No, it is only Rectangle")

Yes, it is square

In [56]:
marks=int(input("Enter marks"))
if marks<25:
  print ("F")
elif marks>=25 and marks<45:
  print ("E")
elif marks>=45 and marks<50:
  print ("D")
elif marks>=50 and marks<60:
  print ("C")
elif marks>=60 and marks<80:
  print ("B")
else:
  print ("A")

B

In [42]:
age1 = (input("Enter the age of first person"))
age2 = (input("Enter the age of Second person"))
age3 = (input("Enter the age of Third person"))
if age1>age2 and age1>age3:
    print("age1 is oldest")
elif age2>age1 and age2>age3:
     print("age2 is oldest")
elif age3>age1 and age3>age2:
     print("age3 is oldest")
else:
     print("All are equal")

age1 is oldest

In [57]:
noh = int(input("Enter the number of classes held"))
noa = int(input("Enter the number of classes attended"))
atten = (noa/float(noh))*100
print("attendance is",atten)
if atten >= 75:
    print("Eligible for exam")
else:
    print("Not eligible for exam")

attendance is 91.25
Eligible for exam

functions