In [3]:
def greet ():  #funtion definition
    print("Hello,World")
    print("Good Morning")
    print("Good Evening")
    print("Good Night")

In [4]:
#Function call

greet()

Hello,World
Good Morning
Good Evening
Good Night

In [5]:
def greeting():
    print("Hello, World")
greeting()
print("Good Morning")

Hello, World
Good Morning

In [6]:
def add(num1,num2):  #parameters
    sum=num1+num2
    print("the sum is",sum)
add(30,40)  #arguments

the sum is 70

In [8]:
def add(num1,num2):  #parameters
    sum=num1+num2
    print(f"the sum of {num1} and {num2} is {sum}")
add(30,40)  #arguments

the sum of 30 and 40 is 70

In [7]:
def my_name(name):
    return f'Hello! {name}'
my_name("Dewansh")

'Hello! Dewansh'

In [10]:
def my_func():
    return "Welcome","to","digipodium"
my_func()

('Welcome', 'to', 'digipodium')

In [12]:
a,b,c=my_func()
print(a)
print(b)
print(c)
print(f'{a} {b} {c}')

Welcome
to
digipodium
Welcome to digipodium

In [13]:
def sq(num):
    sq=num*num
    return sq   #return works as same as print statement
sq(5)

25

In [23]:
def sq(num):
    sq=num*num
    return f'square is {sq}'   #return works as same as print statement
sq(4)

'square is 16'

In [18]:
def add(a,b,c):
    return a+b+c
add=add(3,6,7)
print(add)

16

In [20]:
def add(d,e,g):
    add=d+e+g
    return add
add(16,20,30)

66

In [24]:
#lambda

add = lambda num1,num2:num1+num2
print(add(20,30))

50

In [25]:
sq = lambda num:num**2
print(sq(10))

100

In [26]:
ar = lambda r:r**2*(22/7)
print(ar(7))

154.0

In [28]:
ar = lambda r1,h1:r1*h1*(1/2)
print(ar(4,8))

16.0

In [3]:
def even_odd(num3):
    if num3%2==0:
        
        return "Even"
    else:
        return "odd"
even_odd(5)

'odd'

In [14]:
def fahr(cel):
    fahr=(9/5)*cel+32
    return "temperature in fahrenheit", fahr
fahr(37.6)

('temperature in fahrenheit', 99.68)

In [15]:
def fahr(cel):
    fahr=(9/5)*cel+32
    print("temperature in fahrenheit", fahr)
fahr(37.6)

temperature in fahrenheit 99.68

In [17]:
def max(numb1,numb2):
    return max(numb1,numb2)
numb1=45
numb2=80
print(f'maximum of {numb1} and {numb2} is {max}')

maximum of 45 and 80 is <function max at 0x000001EC12732520>

In [24]:
def max(numb1,numb2):
    if numb1>numb2:
        print("number 1 is max")
    else:
        print("number2 is max")
max(34,22)

number 1 is max