questions 1

In [2]:
chocolates =['Kitkat','perk','Dairymilk','Munch','Nestle']
new_chocolates=[x for x in chocolates if len(x)>5]
print(new_chocolates)

['Kitkat', 'Dairymilk', 'Nestle']

In [3]:
fruits=['banana','orange','apple','grape']
fruits.remove('orange')
print(fruits)

['banana', 'apple', 'grape']

string indexing and slicing

In [4]:
a='hello world'
print(a)

hello world

In [5]:
print(a[6])

w

In [6]:
print(a[6:])

world

To convert int value to character we use chr()

In [8]:
a = chr(79)
print(a)

O

To convert char value to int  we use ord()

In [10]:
a = ord('g')
print(a)

103

item to str / Type casting

In [11]:
s = str(23)
print(s)

23

In [12]:
type(s)       # type() used to check datatype of element

str

In [13]:
#String concatenation
a = "hello"
b = "world"
print(a+" "+b)

hello world

In [16]:
# String Multiplication
a = 'hi '
print(a*5+" ")

hi hi hi hi hi

In [17]:
#Char of any String to Uppercase
x = " hey, I am trying my best to be a good data analyst"
x.upper()

' HEY, I AM TRYING MY BEST TO BE A GOOD DATA ANALYST'

In [18]:
#Char of any String to lowercase
x = "HEY, I AM TRYING MY BEST TO BE A GOOD DATA ANALYST"
x.lower()

'hey, i am trying my best to be a good data analyst'

In [19]:
x.capitalize()

'Hey, i am trying my best to be a good data analyst'

In [20]:
x = "HEY, I AM TRYING MY BEST TO BE A GOOD DATA ANALYST"
x.split()

['HEY,',
 'I',
 'AM',
 'TRYING',
 'MY',
 'BEST',
 'TO',
 'BE',
 'A',
 'GOOD',
 'DATA',
 'ANALYST']

In [22]:
a = ["you","are","fool"]
for i in a:
    print( i.capitalize(),end=" ")

You Are Fool

In [23]:
poem = '''Jonhy Jonhy yes papa 
eating sugar no papa
telling a lie no papa
open your mouth ha ha ha'''
print(poem)

Jonhy Jonhy yes papa
eating sugar no papa
telling a lie no papa
open your mouth ha ha ha

In [24]:
poem.count('i')

3

In [25]:
poem.splitlines()

['Jonhy Jonhy yes papa ',
 'eating sugar no papa',
 'telling a lie no papa',
 'open your mouth ha ha ha']

In [28]:
b = poem.replace('papa','fufaji')
print(b)

Jonhy Jonhy yes fufaji
eating sugar no fufaji
telling a lie no fufaji
open your mouth ha ha ha

In [29]:
b = poem.replace('papa','fufa').replace('sugar','poison')
print(b)

Jonhy Jonhy yes fufa
eating poison no fufa
telling a lie no fufa
open your mouth ha ha ha

In [30]:
poem = ''' twinkle twinkle little star
how I wonder 
what you are
up above the high so sky
like a diamond 
in the sky'''
print(poem)

 twinkle twinkle little star
how I wonder
what you are
up above the high so sky
like a diamond
in the sky

In [32]:
b = poem.replace('star','moon')
print(b)

 twinkle twinkle little moon
how I wonder
what you are
up above the high so sky
like a diamond
in the sky

In [33]:
b.find("sky")

77

In [34]:
path = ['C:','user','Lenovo','Document']
print('/'.join(path))

C:/user/Lenovo/Document